/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

p {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}

a {
  font-family: "MuseoModerno", sans-serif;
  text-decoration: none;
  color: #c3cfe8;
}

h1 {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}

h3 {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}

h4 {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}

.button {
  text-decoration: none;
  background-color: rgb(195,207,232,0.5);
  border-radius: 5px;
  padding: 10px 15px;
  color: #ffffff !important;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #97a1b8;
}

@media screen and (min-width: 1200px){
  .homebutton {
    position: absolute;
    top: 70%;
    left: 45%;
    z-index: 999;
  }
} /* Desktop */
@media screen and (min-width: 1025px) and (max-width: 1199px){} /* small laptop */
@media screen and (min-width: 768px) and (max-width: 1024px){} /* tablet */
@media screen and (min-width: 575px) and (max-width: 767.98px){} /* tablet and large mobiles */
@media screen and (min-width: 320px) and (max-width: 480px){} /* Mobile*/



