<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <!-- The modal notification element -->
    <div id="offline-notification" class="modal-notification">
      <p>This app is available offline!</p>
    </div>
    
    <main>
      {{ content }}
    </main>

    <script src="https://luminaura.github.io/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script>
      import docsearch from '@docsearch/js';

      import '@docsearch/css';

      docsearch({
        appId: 'R2IYF7ETH7',
        apiKey: '599cec31baffa4868cae4e79f180729b',
        indexName: 'docsearch',
      });
    </script>
    
  </body>

  {% include footer.html %}
  
</html>
